# Required to deploy to Fuji.
FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

# Required to deploy to Fuji.
PRIVATE_KEY=0xYOUR_DEPLOYER_PRIVATE_KEY

# Required by scripts/deploy.js
PENALTY_RECEIVER_ADDRESS=0x0000000000000000000000000000000000000000
