# Server
DATABASE_URL=""
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
PRIVATE_KEY=""

# Client
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AVALANCHE_FUJI_RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
NEXT_PUBLIC_TIME_LEND_ADDRESS_FUJI="0xBb37498C6C5EE5BCBC11b6E9D1d4473Ba77a277E"
